* {
    margin: 0;
    padding: 10px 5% 0px 5%;
    box-sizing: border-box;
    background-color:#fafbfa;
    font-family: Corbel;
}
html {
  scroll-behavior: smooth;
}

p{
  padding: 30px 10% 0 5%;
  font-size:17px;
}

.back {
  margin-left:-20%;
  padding:0;
}
.back img{
  height:40px;
}

.back img:hover{
  opacity:.8;
}
b, i{
  font-size:19px;
  padding:1px;
}

